<div class="mainAddSim">
    <table>
        <tr>
            <td>Matricule:</td>
            <td><input type="number"> </td>
        </tr>
        <tr>
            <td>Cin:</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Nom et Prénom:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Téléphone:</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text"></td>
        </tr>
    </table>
    <div class="BtnDiv">
        <button class="submitBtn">Ajouter</button>
    </div>
</div>
