<div class="mainAddSim">
 
    <table>
        <tr>
            <td>Matricule:</td>
            <td><input #textbox type="number" required> </td>
        </tr>
        <tr>
            <td>Cin:</td>
            <td><input #textbox2 type="number" required></td>
        </tr>
        <tr>
            <td>Nom et Prénom:</td>
            <td><input #textbox3 type="text" required></td>
        </tr>
        <tr>
            <td>Téléphone:</td>
            <td><input #textbox4 type="number" required></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input #textbox5 type="text" required></td>
        </tr>
    </table>
    <div class="BtnDiv">
        <button (click)="submitForm(textbox.value,textbox2.value,textbox3.value,textbox4.value,textbox5.value)" class="submitBtn">Ajouter</button>
    </div>

   

</div>
